@import "bootstrap-sprockets";
@import "bootstrap";

* {
  font-family: 'Open Sans', sans-serif;
  font-family: 'Oswald', sans-serif;
}

.box {
  text-align: center;
}

.well {
  padding: 10px 10px;
  margin: 30px 10px;
  width: 350px;
}

.dark {
  background-color: #222;
  border-radius: 5px;
}

.center {
  text-align: center;
  padding: 10px;
}

.white {
  color: #fff;
  padding: 20px
}

.black {
  color: #000;
  padding: 20px
}
.well {
  width: 550px;
  background-color: #fff;
}

.well2 {
  background-color: #fff;
  border-radius: 5px;
  padding: 20px;
  border: thin solid #fff;
  margin: 10px;
  max-width: 350px;
  min-height: 450px;
  box-shadow:5px 5px 5px #000;
}
.form-control {
  margin: 8px 1px;
}
.edit-form {
  width: 300px;
  display: block;
  margin:auto;
}
.header-brand {
  height: 150px;
  margin: -20px 0px ;
}

.content {
  margin-right: 10px;
}

.titles {
  font-size: 1.5em;
}

.center-img {
  display:block;
  margin:auto;
}

.span-class {
  font-size: .5em;
}

// -----

img {
  width:100%;
}

.image-resize img {
  width:100%;
}

.container {
  width: 100%;
}

body {
  background-color: #282c2f;
}

h1, h2, h3, h4, h5 {
  color: #fff;
}

a:link {
  color: #382525;
  text-decoration: none;
}
a:visited {
  color: #382525;
  text-decoration: none;
}
a:hover {
  color: #382525;
  text-decoration: none;
}
a:active {
  color: #382525;
  text-decoration: none;
}

.red {
  color: #382525; //df2f2f
}

.navbar {
  width: 100%;
}

.custom-navbar {
  background-color: #3d7bb2;
  // background: linear-gradient(to right, #3d7bb2 , #222);
  border: solid thin #282c2f;
  box-shadow: 5px #000;
}

.navbar{
  border: none;
}

.navbar a:link {
  color: #fff;
  font-size: 1.5em;
}

.navbar a:hover {
  color: #fff;
  background-color: #222;
  font-size: 1.5em;
}

.navbar a:visited {
  color: #fff;
  font-size: 1.5em;
}
.navbar a:active {
  color: #fff;
  font-size: 1.5em;
}

.navbar-logo {
  float: left;
  width: 151px;
}

.logo {
  float: left;
  color: #fff;
  margin-left: 20px;
  margin-top: 4px;
  margin-right: 10px;
  font-size: 2em;
}

.content {
  margin-left: 60px;
}

footer {
  // position: absolute;
  // bottom: 0;
  width: 100%;
  background-color: #000;
  margin-top: 50px;
  height: 50px;
  color: #999;
  text-align: center;
  padding: 15px;
  border-top: solid thin #3d7bb2;
  overflow: hidden;
  margin-top: 450px;

}

.stripe {
  background-color: #555;
  height: 230px;
  width: 100%;
  margin-top: -340px;
  border-top: solid thin #999;
  border-bottom: solid thin #000;
}

.pad {

}
